<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaw49u1WOHE1FzxOn_D8SoqecYttcuJVs</string>
	<key>GCM_SENDER_ID</key>
	<string>730264280649</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workcloud.app</string>
	<key>PROJECT_ID</key>
	<string>test-notification-d20d7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-notification-d20d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:730264280649:ios:e1a088c9a0e71198fda998</string>
</dict>
</plist>